.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.buttonContxt {
  height: 60px;
  width: 500px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.titleContxt {
  font-size: 30px;
}
