.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.ViewButton {
  display: flex;
  margin-top: 20px;
}

.ViewButton1 {
  margin-left: 10px;
}

.ViewButton2 {
  margin-right: 10px;
}

.ButtonReducer {
  height: 50px;
  width: 120px;
  background-color: #61dafb;
  border-radius: 10px;
  border: 1.5px solid white;
  font-size: 20px;
  color: #282c34;
  cursor: pointer;
}

.titleReducer {
  font-size: 30px;
}
